<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">

		<div class="text-center">
			<h1 class=" fw-bold font-monstreatt">Smart Contact Manager</h1>
			<h5 class="font-monstreatt">Start Collecting your contacts in a very smarter way. We
				provide very efficient and smarter way of handling contacts.</h5>
				
				<button class="btn btn-lg bg-main mt-3 tracking-wide text-white text-uppercase lt-spacing">Get Started</button>
		</div>



	</section>
</body>
</html>