<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class="mt-5">
		<div class="container py-5 h-100">
			<div
				class="row d-flex align-items-center justify-content-center h-100">

				<div
					class="col-md-12 col-lg-6 col-xl-6 shadow-lg py-4 px-4 rounded-3">

					<form th:action="@{/change-pass}" method="post">

						<h1 class="text-center mb-3 font-monstreatt text-uppercase">Enter
							 New Password</h1>

						

						<!-- <div class="alert alert-primary text-center"
							th:if="${session.message}"
							th:classappend="${session.message.type}" role="alert">

							<div th:text="${session.message.content}"></div>

							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
						</div> -->

						<div class="mb-4">

							<input type="password" name="password" placeholder="Enter new password here"
								class="form-control" />

						</div>

						<!-- Submit button -->
						<div class="text-center">
							<button type="submit" class="btn  btn-success  font-monstreatt ">Change</button>
						</div>



					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>